
* {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.todo-app {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 40px;
}

.todo-checkbox {
  cursor: pointer;
  
}

.todo-line-through {
  text-decoration: line-through;
}

.delete-all-btn, .check-all-btn {
 margin-left: 10px;
}

.aside  {

  display: inline;
  font-size: 17px;

}

.side-nav, .side-nav {
  padding: 20px;

}

.side-nav > li {

  top: 30px;
}

.side-nav li {
  line-height: 20px !important;
}

.aside-items {
  width: 70%;
  margin: 0 auto;
}